@charset "UTF-8";

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-Black.woff2") format("woff2"), url("../fonts/MazzardH-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-BoldItalic.woff2") format("woff2"), url("../fonts/MazzardH-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-BlackItalic.woff2") format("woff2"), url("../fonts/MazzardH-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-Bold.woff2") format("woff2"), url("../fonts/MazzardH-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-ExtraBold.woff2") format("woff2"), url("../fonts/MazzardH-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/MazzardH-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-ExtraLight.woff2") format("woff2"), url("../fonts/MazzardH-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(79, 79, 79);
  line-height: 1;
  font-family: "Mazzard";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mazzard";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 23.125rem;
  margin: 0 auto;
  padding: 0 0.3125rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .page__entrance{
  background-image: url(../img/bg.jpg); }

.page__entrance {
  max-width: 360px;
  height: 800px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page__entrance::after {
  content: "";
  background-color: rgba(186, 186, 186, 0.03);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.entrance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entrance__logo {
  margin-top: 3.75rem;
  position: relative;
  z-index: 1;
}

.entrance__logo:not(:last-child) {
  margin-bottom: 5.3125rem;
}

.body-entrance {
  width: 328px;
  height: 269px;
  border-radius: 10px;
  background: rgba(255, 252, 244, 0.7);
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.body-entrance__text {
  color: #4F4F4F;
  font-family: Mazzard;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body-entrance__text:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.body-entrance__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Mazzard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 288px;
  height: 81px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: var(--unnamed, linear-gradient(180deg, #24A2FD 0%, #246BFD 100%));
  -webkit-box-shadow: 0px 4px 30px 0px rgba(80, 122, 251, 0.35);
          box-shadow: 0px 4px 30px 0px rgba(80, 122, 251, 0.35);
}

.body-entrance__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-entrance__button > a {
  margin-right: 10px;
}

.webp .page__entrance{ background-image: url(../img/bg.webp); }