@charset "UTF-8";

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-Black.woff2") format("woff2"), url("../fonts/MazzardH-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-BoldItalic.woff2") format("woff2"), url("../fonts/MazzardH-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-BlackItalic.woff2") format("woff2"), url("../fonts/MazzardH-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-Bold.woff2") format("woff2"), url("../fonts/MazzardH-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-ExtraBold.woff2") format("woff2"), url("../fonts/MazzardH-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/MazzardH-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MazzardH;
  font-display: swap;
  src: url("../fonts/MazzardH-ExtraLight.woff2") format("woff2"), url("../fonts/MazzardH-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(79, 79, 79);
  line-height: 1;
  font-family: "Mazzard";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mazzard";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 22.5rem;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .page{
  background-image: url(../img/bg.jpg); }

.page {
  min-width: 380px;
  height: 100vh;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-page__top {
  margin-top: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  max-height: 65px;
  margin-bottom: 1.25rem;
}

.header-page__balans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 205px;
  height: 63px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#00E64E), to(#00C850));
  background: linear-gradient(180deg, #00E64E 0%, #00C850 100%);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(124, 251, 80, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(124, 251, 80, 0.2);
}

.header-page__reff {
  width: 63px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: var(--unnamed, linear-gradient(180deg, #24A2FD 0%, #246BFD 100%));
  -webkit-box-shadow: 0px 4px 30px 0px rgba(80, 122, 251, 0.35);
          box-shadow: 0px 4px 30px 0px rgba(80, 122, 251, 0.35);
  -webkit-transform: translate(0, 3.5%);
      -ms-transform: translate(0, 3.5%);
          transform: translate(0, 3.5%);
}

.header-page__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-page__clock {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid rgb(112, 155, 255);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5B5B5B;
  font-family: Mazzard;
  font-size: 18.324px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: relative;
}

.header-page__clock::after {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  background-image: url(../img/watter.svg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.balans-heder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.balans-heder__text {
  color: #FFF;
  font-family: Mazzard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.balans-heder__text span {
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 3px;
}

.footer-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.footer-page__bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 328px;
  height: 81px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9FD24), to(#FD7224));
  background: linear-gradient(180deg, #F9FD24 0%, #FD7224 100%);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(80, 251, 210, 0.4);
          box-shadow: 0px 4px 30px 0px rgba(80, 251, 210, 0.4);
  color: #FFF;
  font-family: Mazzard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.1875rem;
}

.footer-page__bonus a span {
  margin-right: 20px;
}

.footer-page__exit {
  width: 179px;
  height: 42px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: -4px 10px 20px 0px rgba(160, 106, 249, 0.25);
          box-shadow: -4px 10px 20px 0px rgba(160, 106, 249, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: #E40606;
  font-family: Mazzard;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-page__exit img {
  margin-right: 12px;
}

.footer-page__exit span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(186, 186, 186, 0.03);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  z-index: 149;
}

.modal__content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(186, 186, 186, 0.03);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}

.modal__body {
  width: 328px;
  height: 325px;
  border-radius: 10px;
  background: rgba(255, 252, 244, 0.7);
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem 2.5rem 2.5rem 2.5rem;
}

.body-modal__titl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2.5rem;
}

.titl__text {
  color: #7B7B7B;
  font-family: Mazzard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titl__number {
  color: #212121;
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.titl__number span {
  margin-right: 5px;
  font-size: 24px;
}

.titl__right {
  cursor: pointer;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__deposites {
  width: 247px;
  height: 81px;
  border-radius: 10px;
  border: 1px solid rgba(152, 255, 103, 0.5);
  background: #FFF;
  -webkit-box-shadow: -4px 10px 20px 0px rgba(106, 249, 120, 0.25);
          box-shadow: -4px 10px 20px 0px rgba(106, 249, 120, 0.25);
  color: #01CC50;
  font-family: Mazzard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.button__conclusion {
  width: 247px;
  height: 81px;
  border-radius: 10px;
  border: 1px solid rgba(106, 103, 255, 0.5);
  background: #FFF;
  -webkit-box-shadow: -4px 10px 20px 0px rgba(106, 137, 249, 0.25);
          box-shadow: -4px 10px 20px 0px rgba(106, 137, 249, 0.25);
  color: #2577FE;
  font-family: Mazzard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.show {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.modal__reff {
  height: 100%;
  width: 100%;
  background-color: rgba(186, 186, 186, 0.03);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
}

.reff__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.modal-reff__container {
  position: fixed;
  z-index: 200;
  max-width: 328px;
  width: 100%;
  border-radius: 10px;
  background: rgba(255, 252, 244, 0.7);
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  padding: 1.5625rem;
  overflow: auto;
}

.mpdal__reff-close {
  text-align: end;
  margin-bottom: 0.625rem;
  cursor: pointer;
}

.mpdal__reff-link {
  width: 279px;
  height: 70px;
  border-radius: 10px;
  background: #FFF;
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  margin-bottom: 0.9375rem;
}

.mpdal__reff-bonus {
  width: 279px;
  height: 75px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2AC22), to(#F48620));
  background: linear-gradient(180deg, #F2AC22 0%, #F48620 100%);
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.4375rem;
}

.link-reff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-reff__body {
  margin-right: 1.8125rem;
}

.link-reff__text {
  color: #7B7B7B;
  font-family: Mazzard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 0.5rem;
}

.link-reff__link {
  color: #212121;
  font-family: Mazzard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bonus-reff {
  padding: 0.75rem 1.25rem;
}

.bonus-reff__titl {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #FFF;
  font-family: Mazzard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bonus-reff__bonuss {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: #FFF;
  font-family: Mazzard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.bonus-reff__bonuss span {
  font-size: 30px;
  font-weight: 700;
  margin-right: 0.25rem;
}

.people-reff__titl {
  color: #7B7B7B;
  font-family: Mazzard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.people-reff__body {
  width: 280px;
  height: 435px;
  border-radius: 10px;
  background: #FFF;
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  padding: 1.5rem 0.8125rem;
}

.body-peiple__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.body-peiple__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.item-body__text {
  color: #212121;
  font-family: Mazzard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-right: 31px;
}

.item-body__text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 25px;
  border-radius: 15px;
  background-color: #D6D6D6;
}

.item-body__lvl {
  color: #258BFE;
  font-family: Mazzard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item-body__lvl span {
  font-size: 14px;
  margin-right: 0.25rem;
}

.modal-exit {
  height: 100%;
  width: 100%;
  background-color: rgba(186, 186, 186, 0.03);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
}

.modal-exit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.content-exit__info {
  width: 328px;
  height: 169px;
  border-radius: 10px;
  background: rgba(255, 252, 244, 0.7);
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  color: #212121;
  font-family: Mazzard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.content-exit__button {
  width: 328px;
  height: 81px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: var(--unnamed, linear-gradient(180deg, #24A2FD 0%, #246BFD 100%));
  -webkit-box-shadow: 0px 4px 30px 0px rgba(80, 122, 251, 0.35);
          box-shadow: 0px 4px 30px 0px rgba(80, 122, 251, 0.35);
  color: #FFF;
  font-family: Mazzard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.content-exit__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-exit__buttontwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 328px;
  height: 81px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E5E5E5));
  background: linear-gradient(180deg, #FFF 0%, #E5E5E5 100%);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(124, 251, 80, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(124, 251, 80, 0.2);
  color: #FE254C;
  font-family: Mazzard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.no-webp .page-exit{
  background-image: url(../img/bg.jpg); }

.page-exit {
  background-position: top center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-webp .page__entrance{
  background-image: url(../img/bg.jpg); }

.page__entrance {
  max-width: 360px;
  height: 800px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page__entrance::after {
  content: "";
  background-color: rgba(186, 186, 186, 0.03);
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

.entrance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.entrance__logo {
  margin-top: 3.75rem;
  position: relative;
  z-index: 1;
}

.entrance__logo:not(:last-child) {
  margin-bottom: 5.3125rem;
}

.body-entrance {
  width: 328px;
  height: 269px;
  border-radius: 10px;
  background: rgba(255, 252, 244, 0.7);
  -webkit-backdrop-filter: blur(33.0666656494px);
  backdrop-filter: blur(33.0666656494px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.body-entrance__text {
  color: #4f4f4f;
  font-family: Mazzard;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body-entrance__text:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.body-entrance__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mazzard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 288px;
  height: 81px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: var(--unnamed, linear-gradient(180deg, #24a2fd 0, #246bfd 100%));
  -webkit-box-shadow: 0 4px 30px 0 rgba(80, 122, 251, 0.35);
  box-shadow: 0 4px 30px 0 rgba(80, 122, 251, 0.35);
}

.body-entrance__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.body-entrance__button > a {
  margin-right: 10px;
}

.modal-bonus {
  height: 100%;
  width: 100%;
  background-color: rgba(186, 186, 186, 0.03);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
}

.modal-bonus__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.content-bonus__exit {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 1.25rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.content-bonus__kolo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.content-bonus__kolo::after {
  content: "";
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-bonus__wraper {
  width: 328px;
  height: 375px;
  border-radius: 10px;
  background: rgba(255, 252, 244, 0.7);
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem 1.5rem 2rem 1.5rem;
}

.content-bonus__buttonone {
  width: 328px;
  height: 81px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: var(--unnamed, linear-gradient(180deg, #24A2FD 0%, #246BFD 100%));
  -webkit-box-shadow: 0px 4px 30px 0px rgba(80, 122, 251, 0.35);
          box-shadow: 0px 4px 30px 0px rgba(80, 122, 251, 0.35);
  color: #FFF;
  font-family: Mazzard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-bonus__buttontwo,
.content-bonus__buttonthre {
  display: none;
}

.kolo-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  width: 280px;
  height: 58px;
  border-radius: 10px;
  background: #FFF;
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  z-index: 2;
}

.kolo-content__text {
  color: #212121;
  font-family: Mazzard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.kolo-content__icon {
  cursor: pointer;
}

.begr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: rgba(255, 252, 244, 0.1);
  -webkit-backdrop-filter: blur(33.0666656494px);
          backdrop-filter: blur(33.0666656494px);
  height: 280px;
  width: 280px;
  border-radius: 50%;
}

.showme {
  width: 328px;
  height: 81px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9FD24), to(#FD7224));
  background: linear-gradient(180deg, #F9FD24 0%, #FD7224 100%);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(80, 251, 210, 0.4);
          box-shadow: 0px 4px 30px 0px rgba(80, 251, 210, 0.4);
  color: #FFF;
  font-family: Mazzard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.rotate {
  -webkit-animation: circle 5s ease-out 1;
          animation: circle 5s ease-out 1;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.webp .page{ background-image: url(../img/bg.webp); }

.webp .page-exit{ background-image: url(../img/bg.webp); }

.webp .page__entrance{ background-image: url(../img/bg.webp); }